:root {
    --main-color: #2E2F42;
    --main-text-color: #434455;
    --second-text-color: #FFFFFF;
    --logo-color: #4d5ae5;
    --button-color: #F4F4FD;
    --hover-color: #404BBF;
    --border-color: #E7E9FC;
    --icon-footer-hover: #31D0AA;
    --light-slate-color: #8E8F99;
    --modal-color: #FCFCFC;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    background-color: var(--second-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

input {
    font-family: inherit;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--main-color);
    margin-bottom: 8px;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*-----header-----*/

.header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-menu {
    display: none;
}

.header-logo span {
    color: var(--main-color);
}

.address {
    display: none;
}

.menu-btn {
    display: block;
    border: none;
    width: 32px;
    height: 22px;
    padding: 0;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--second-text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
    transform: translateX(0);
}

.close-menu-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-menu-btn:hover,
.close-menu-btn:focus {
    background-color: var(--hover-color);
    border: none;
    fill: var(--second-text-color);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-link {
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address {
    margin-top: auto;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mob-address-link-tel {
    font-style: normal;
    color: var(--logo-color);
    font-size: 25px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.mob-address-link-mail {
    font-style: normal;
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mob-soc-list {
    display: flex;
    gap: 25px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:hover,
.mob-soc-link:focus {
    background: var(--hover-color);
}

.mob-soc-icon {
    fill: var(--button-color)
}

/* main-portfolio */

.main {
    padding-top: 96px;
    padding-bottom: 120px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.projects-item {}

.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.projects-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-cover {
    position: relative;
    overflow: hidden;
}

.projects-link:hover .cover-text {
    transform: translateY(0%);
}

.projects-link:focus .cover-text {
    transform: translateY(0%);
}

.cover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-color);
    position: absolute;
    background-color: var(--logo-color);
    top: 0;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item {
    width: calc((100% - 48px) / 3);
}

.link-menu {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}

/* hero */

.hero {
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob.jpg);
    padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-mob2x.jpg);
    }
}


.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    background: var(--logo-color);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}

/* filters */


.filters-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filters-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--button-color);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--hover-color);
    color: var(--second-text-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* benefits */
.benefits {
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
    width: 100%;
}

.benefits-item-icon {
    background: var(--button-color);
    border-radius: 4px;
    height: 112px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-item-image {
    left: 100px;
    top: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* products */
.products {
    padding-bottom: 120px;
    display: none;
}

.products-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.products-list {
    display: flex;
    gap: 24px;
}

.products-item {
    width: calc((100% - 24px * 2) / 3);
}


/* team */

.team {
    background: var(--button-color);
    padding: 96px 0;
}

.team-title,
.cust-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-info {
    padding: 32px 0;
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    justify-content: center;
}

.team-item {
    background-color: var(--second-text-color);
    /* width: calc((100% - 24px *3) / 4); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.subtitle-name {
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-items {}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 12px 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background: var(--hover-color);
}

.tem-soc-icon {
    fill: var(--button-color)
}

.customers {
    padding: 96px 0;
}

.cust-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;

}

.cust-items {
    height: 88px;
    width: calc((100% - 16px) / 2);
}

.cust-icon {
    fill: currentColor;
}

.cust-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-link:hover,
.cust-link:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
}

.footer {
    background-color: var(--main-color);

    padding-top: 97.5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 96px;

}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
    /* display: inline-block; */
    display: flex;
    /* margin-bottom: 16px; */
    margin-bottom: 17.5px;
    justify-content: center;
}

.footer-logo span {
    color: var(--button-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-color);
    width: 264px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}



.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-items {
    width: 40px;
    height: 40px;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: var(--button-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--icon-footer-hover);
}

.email-input {}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-label {
    width: 100%;
}

.footer-input {
    width: 100%;
    width: 288px;
    height: 40px;
    border: 1px solid var(--second-text-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: var(--second-text-color);
    padding-left: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2.0;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
}

.footer-btn {
    display: flex;
    flex-direction: row;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    background: var(--logo-color);
    border-radius: 4px;
    border: none;
    color: var(--second-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 8px 24px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--hover-color);
}

.footer-btn-icon {
    margin-left: 16px;
}

/* ------Modal-Form----- */
.backdrop {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--hover-color);
    border: none;
    fill: var(--second-text-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--main-color);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--logo-color);
}

.modal-input:focus+.input-icon {
    fill: var(--logo-color);
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    align-items: center;
}

.check-text a {
    color: var(--logo-color);
    text-decoration: underline;
}

.icon-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox:focus {
    border-color: var(--hover-color);
}

.input-check:checked+.check-text span {
    background-color: var(--hover-color);
    border: none;
    fill: var(--button-color);
}

.modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    background: var(--logo-color);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hover-color);
}